<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="webkit" name="renderer">
    <title>SpringBoot Shiro测试</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="clear">
                               	<span class="block m-t-xs"><strong class="font-bold" th:text="${session.user.username}">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">[[${session.user.name}]]<b
                                        class="caret"></b></span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a th:href="@{/}">修改密码</a></li>
                            <li><a href="javascript:void(0);" onclick="logout()">安全退出</a></li>
                        </ul>
                    </div>
                    <div class="logo-element"></div>
                </li>
                <li shiro:hasRole="admin">
                    <a class="J_menuItem" th:href="@{/}"><span class="nav-label">用户管理</span></a>
                </li>
                <li shiro:lacksRole="admin">`
                    <a class="J_menuItem" th:href="@{/}"><span class="nav-label">机具入网管理</span></a>
                </li>
                <li shiro:lacksRole="admin">
                    <a class="J_menuItem" th:href="@{/}"><span class="nav-label">机具状态监控</span></a>
                </li>
                <li shiro:lacksRole="admin">
                    <a class="J_menuItem" data-index="0" th:href="@{/}">App管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div class="gray-bg dashbard-1" id="page-wrapper">
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a class="active J_menuTab" data-id="main.html" href="javascript:void(0);">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a class="roll-nav roll-right J_tabExit" href="javascript:void(0);" onclick="logout()"><i
                    class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" data-id="@{/welcome}" frameborder="0" height="100%" name="iframe0"
                    seamless th:src="@{/welcome}" width="100%"></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script>
    function logout() {
        window.location = '/logout';
    }
</script>

</body>
</html>
