<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>SpringBoot Shiro测试</title>
    <link href="../public/favicon.ico" rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link href="../public/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link href="../public/static/css/style.css" rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name" style="height: 170px;"></h1>
        </div>
        <h2>欢迎使用XX管理平台</h2>
        <div th:if="${msg}">
            <div class="alert alert-danger col-sm-12" id="login-alert1" th:text="${msg}"></div>
        </div>
        <div th:else>
            <div class="alert alert-danger col-sm-12" id="login-alert2" style="display: none;"></div>
        </div>
        <form class="m-t" id="form" method="post" role="form" th:action="@{/login}">
            <div class="form-group">
                <input autocomplete="off" class="form-control" id="login-username" name="username" oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('请输入用户名')" placeholder="用户名" th:value="${username}"
                       type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" id="login-password" name="password" oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('请输入密码')" placeholder="密码" th:value="${password}"
                       type="password">
            </div>
            <div class="form-group" style="padding-bottom: 33px;">
                <div class="col-sm-8" style="padding-left: 0; padding-right: 0;">
                    <input autocomplete="off" class="form-control" name="captcha" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('请输入验证码')"
                           placeholder="验证码" type="text">
                </div>
                <div class="col-sm-4" style="padding-left: 20px;">
                    <img height="100%" id="kaptcha" th:src="@{/kaptcha.jpg}" width="100%"/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary block full-width m-b" type="submit">登 录</button>
            </div>
            <!--<p class="text-muted text-center">-->
            <!--<a href="login.html#"><small>忘记密码了？</small></a> | <a href="#">注册一个新账号</a>-->
            <!--</p>-->
        </form>
    </div>
</div>
<script src="../public/static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js}"></script>
<script src="../public/static/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $("#kaptcha").on('click', function () {
            changeKaptcha();
        });
        $('#form').submit(function () {
            var username = $('[name="username"]').val();
            var password = $('[name="password"]').val();
            if (username == '') {
                $('#login-alert').text('请输入用户名').show();
                return false;
            } else if (password == '') {
                $('#login-alert').text('请输入密码').show();
                return false;
            }
        });
    });

    function changeKaptcha() {
        $("#kaptcha").attr('src', '/kaptcha.jpg?' + Math.floor(Math.random() * 100)).fadeIn();
    }
</script>
</body>
</html>
