<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404-页面未找到</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link media="screen" rel="stylesheet" th:href="@{/static/css/404.css}" type="text/css"/>
</head>
<body>
<div id="container">
    <img alt="" class="png" th:src="@{/static/img/error/404.png}"/>
    <img alt="" class="png msg" th:src="@{/static/img/error/404_msg.png}"/>
    <p>
        <a href="/"><img alt="" class="png" th:src="@{/static/img/error/404_to_index.png}"/></a>
    </p>
</div>
<div class="png" id="cloud"></div>
<pre style="DISPLAY: none"></pre>
</body>
</html>
